body {
    font-family: sans-serif;
    font-size: 12px;
}

button {
    padding: 5px 20px;
    margin: 10px auto;
}

.content-header {
    display: table-cell;
    height: 3em;
    line-height: 3em;
    padding: 0;
    vertical-align: middle;
    background-color: steelblue;
    color: whitesmoke;
}

.memo-header {
    display: flex;
    justify-content: space-between;
}

.memo-header span { 
    padding-left: 10px;
    padding-right: 10px;
}

.table {
    display: table;
    border-collapse: collapse;
}

#memo-list-wrapper {
    flex: 1;
    overflow-y: scroll;
}

.table.memo-list {
    border: 0;
    width: 100%;
}

.table .row {
    display: table-row;
    text-align: center;
}

.table .row > span {
    display: table-cell;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
}

.table .row.content-header span {
    padding: 0 5px;
    border: 0px;
}

.table .row button {
    padding: 2px;
    margin: 0;
}

.memo-list-item span:nth-child(1) {
    font-size: larger;
}

.memo-list-item.enabled:hover {
    cursor:pointer;
    background-color: lightsteelblue;
}

#alert {
    font-size: larger;
    color: darkred;
    text-align: center;
}

#memo-field, #memo-field:focus {
    resize: none;
    flex: 1;
    border: none;
    outline: none !important;
    padding: 10px;
}

#memo-buttons {
    text-align: right;
    padding: 5px;
    background-color: steelblue;
}

#memo-buttons button {
    width: 75px;
    margin: 0 0 0 10px;
}